@model PizzaClassLibrary.Entities.Pizza

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Confirmez la suppression</h3>
<div>
    <h4>Pizza</h4>
    <hr />

    @Html.Partial("_PizzaDetailsDelete", Model)

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Retour", "Index")
        </div>
    }
</div>